/* PAGE Оплата - Тарифы */
.payment-container {
	position: relative;
	padding: 0;
	overflow: hidden;
	transition: .4s;
}
.payment-mask {
	position: absolute;
	z-index: 100;
	width: 0%;
	min-height: 100%;
	background: rgba(255,255,255,.5);
	transition: .4s;
}
.payment-content {
	display: flex;
}
.payment_slide {
	min-height: 600px;
	background: #1387C5;
	width: 33.33%;
	color: #fff;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.payment_slide-two,
.payment_slide-three {
	display: none;
}
.payment_title {
	margin-bottom: 20px;
}
.payment_title > div{
	font-size: 18px;
	font-weight: 600;
}
.payment_title span {
	display: block;
	font-size: 12px;
}
.payment_desc {
	margin-bottom: 20px;
	line-height: 1.2;
}
.payment_footnote {
	font-size: 14px;
}
.range-visitors_point {
	position: relative;
	top: 17px;
	background: #dee2e6;
	padding: 2px 0;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
}
.range-visitors_point div {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #47AFFF;
	margin: 0 5px;
}
.payment_range-visitors .custom-range {
	position: relative;
}
.payment_range-visitors {
	margin-bottom: 20px;
}
.range-visitors_value {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	font-size: 10px;
}
.range-visitors_value div {
	transform: rotate(-45deg);
}
/*thumb*/
.payment_range-visitors .custom-range::-moz-range-thumb {	
	background: #fff;
}
.payment_range-visitors .custom-range::-webkit-slider-thumb { 
	background: #fff;
}
.payment_range-visitors .custom-range::-ms-thumb { 
	background: #fff; 
}
/*track*/
.payment_range-visitors .custom-range::-moz-range-track {
	background: transparent;
}
.payment_range-visitors .custom-range::-webkit-slider-runnable-track { 
	background: transparent;
}
.payment_range-visitors .custom-range::-ms-track { 
	background: transparent; 
}
.payment_input-visitors {
	margin-bottom: 20px;
}
.payment_input-visitors input {
	width: 85px;
	font-weight: bold;
	color: #1387C5;
	text-align: right;
	padding: 5px 6px;
	border: none;
	border-radius: 3px;
}
.payment_input-visitors input::-webkit-input-placeholder {color:#ccc;}
.payment_input-visitors input::-moz-placeholder {color:#ccc;}
.payment_input-visitors span {
	font-size: 14px;
}
.payment_choosed-tarif span {
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	margin-left: 10px;
}
.payment_navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.payment_slide-one .payment_navigation {
	justify-content: flex-end;
}
.payment_navigation .navigation_back button {
	padding-left: 18px;
	padding-right: 18px;
	color: #eee;
	transition: .2s;
	background: rgba(255,255,255,0.1);
}
.payment_navigation .navigation_back button:hover {
	background: rgba(255,255,255,0.2);
	transition: .2s;
}
.payment_navigation .navigation_next button,
.payment_promocode .promocode_button button,
.payment_payment-btn .payment-btn_bank-card button {
	border: 1px solid transparent;
	background: #58E579;
	color: #fff;
	transition: .2s;
}
.payment_navigation .navigation_next button:hover,
.payment_promocode .promocode_button button:hover,
.payment_payment-btn .payment-btn_bank-card button:hover {
	border: 1px solid #fff;
	opacity: .9;
	transition: .2s;
}
.payment_checkbox-module {
	margin-bottom: 20px;
}
.checkbox-module_item {
	display: flex;
	justify-content: space-between;
}
.checkbox-module_value {
	font-size: .9em;
}
.checkbox-module_check label,
.period-module_check label {
	cursor: pointer;
}
.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
	background-color: #fff;
}

.checkbox-module_check .custom-control-input:disabled ~ .custom-control-label {
	color: #ccc;
}

.checkbox-module_check .custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before,
.payment_checkbox-module .custom-control-input:checked ~ .custom-control-label::before,
.payment_period-module .custom-control-input:checked ~ .custom-control-label::before {
	border-color: #fff;
	background: #47AFFF;
}
.period-module_title {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	margin-bottom: 10px;
}
.period-module_item {
	display: flex;
	justify-content: space-between;
}
.period-module_check {
	width: 30%;
}
.period-module_price {
	font-weight: 700;
	text-align: right;
	width: 30%;
}
.period-module_sale {
	color: #58E579;
	font-size: 12px;
	margin-top: 5px;
	text-align: center;
	width: 30%;
}
.payment_promocode {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.promocode_input {
	flex-grow: 1;
}
.payment_promocode .promocode_input input {
	width: 100%;
	border: none;
	background: none;
	padding: 4px 5px;
	border-bottom: 1px solid #eee;
	color: #fff;
	font-size: 14px;
}
.payment_promocode .promocode_input input::-webkit-input-placeholder {color:#ddd;}
.payment_promocode .promocode_input input::-moz-placeholder {color:#ddd;}
.payment_promocode .promocode_button button {
	background: #47AFFF;
	margin-left: 10px;
}
.payment_itog-summa {
	margin-bottom: 20px;
}
.itog-summa_title {
	font-weight: 600;
}
.itog-summa_numbers {
	display: flex;
}
.itog-summa_finish {
	font-size: 22px;
	font-weight: 700;
}
.itog-summa_before {
	text-decoration: line-through;
	margin-top: 7px;
	margin-left: 15px;
}
.itog-summa_saving {
	font-size: 14px;
	font-style: italic;
}
.payment_payment-btn {
	margin-bottom: 20px;
}
.payment-btn_other-way a {
	color: #fff;
	font-size: 14px;
}



/*страница оплата - выбор тарифа*/
@media screen and (max-width: 575px) {
	.payment-container { background: none; }
	.payment-mask {	display: none; }
	.payment_slide { width: 100%; }
	.payment_slide-one,
	.payment_slide-two,
	.payment_slide-three {
		margin-left: 0 !important;
	}
}
@media screen and (min-width: 576px) and (max-width: 991px){
	.payment-mask {	display: none; }
	.payment_slide { width: 65%; }
	.payment-content { 
		background-image: url(app/img/bg-payment-1.png);
		background-position: right center;
	}
	.payment_slide-two {
		margin-left: 17% !important;
	}
	.payment_slide-three {
		margin-left: 35% !important;
	}
}